body {
    background-color: #111311;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.game {
    background: #44278c;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 500px;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 100px;
    border: 80px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #5317778d;
    color: rgb(24, 23, 23);
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #131213;
}

#message {
    margin-top: 15px;
    font-size: 16px;
}
